
body {
    font-family: Arial;
    font-size: 11px;
    color: #ffffff;
    background: #202020 url(../../img/body_back.jpg) no-repeat top center fixed;
    background-size: cover;
}

#leftHalf {
   width: 100%;
   position: absolute;
   top: 0px;
   height: 50%;
}

#down {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 50%;
}
